@model List<SmartNerd.Models.Order.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Order Summary</h2>

@if(Model.Count == 0) {
    <p>You haven't made any orders yet!</p>
} else {
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr align="center">
                <th>Order Date</th>
                <th>Order Amount</th>
                <th colspan="3">Products</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var order in Model) {
                <tr>
                    <td>@order.DatePlaced.ToString()</td>
                    <td>$@order.Total.ToString()</td>
                    <td>
                        <ul>
                            <li><b>Product Name</b></li>
                            @foreach(var product in order.Products) {
                                <li>@product.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><b>Unit Price</b></li>
                            @foreach(var product in order.Products) {
                                <li>$@product.Price.ToString()</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><b>Quantity</b></li>
                            @foreach(var product in order.Products) {
                                <li>@product.Quantity.ToString()</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <div>
                            <p>Name: @order.Address.FullName</p>
                            <p>Line 1: @order.Address.Line1</p>
                            <p>Line 2: @order.Address.Line2</p>
                            <p>City: @order.Address.City</p>
                            <p>Country: @order.Address.County</p>
                            <p>State/Province: @order.Address.StateOrProvince</p>
                            <p>Zip Code: @order.Address.ZipCode</p>
                        </div>
                    </td>
                    <td><p>Your order has been processed</p></td>
                </tr>
            }
        </tbody>
    </table>
}
